@font-face {
  font-family: "RetroGaming";   /*Can be any text*/
  src: local("RetroGaming"),
    url("./font/RetroGaming.ttf") format("truetype");
}

body {
  background-color: #4B4260;
}

h2.subtitle {
  color: white;
  font-size: 2em;
  font-family: "RetroGaming";
  text-shadow: 3px 3px #200047;
  text-align: center;
}

h3.shopTitle {
  color: #200047;
  font-size: 1.7em;
  font-family: "RetroGaming";
  text-align: center;
  margin-bottom: 15px;
}
